<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529904713733-alrb0vmgkc8dk9ucoke3u1geafmshmqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529904713733-alrb0vmgkc8dk9ucoke3u1geafmshmqu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>529904713733-40kkcrnuelfchttg1c83ipf99012brkg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBIYQvwarba4V0kgcsSrkxJTKICrYu6qc</string>
	<key>GCM_SENDER_ID</key>
	<string>529904713733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.droneAssist</string>
	<key>PROJECT_ID</key>
	<string>drone-assist</string>
	<key>STORAGE_BUCKET</key>
	<string>drone-assist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529904713733:ios:6481bd57133d01dcd15c6c</string>
</dict>
</plist>